.about{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4)url(img/aboutus-bg.jpeg);
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .about-content{
    width: 80%;
    height: 50vh;
    padding: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content h1{
    font-size: 3rem;
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.about-content p{
    width: 100%;
    font-size: 1.2rem;
}

.about-content span{
    font-size: 1.5rem;
}

@media(max-width:960px){
.about-content h1{
    font-size: 2rem;
}
.about-content p{
    font-size: 1rem;
}
.about span{
    font-size: 1.5rem;
}
}

@media(max-width:640px){
    .about-content h1{
        font-size: 1.6rem;
    }
    .about-content p{
        font-size: .8rem;
    }
    .about span{
        font-size: 1rem;
    }
    .about .about-content{
        height: 80vh;
    }
}

@media(max-width:290px){
    .about-content{
        margin-top: 40px;
    }

    .about-content h1{
        font-size: 1.4rem;
    }
    .about-content p{
        font-size: .6rem;
    }
    .about span{
        font-size: .9rem;
    }
    .about .about-content{
        height: 80vh;
    }
}