/********************************************* CONTACTUS-START *****************************************************/
.contact-content{
    width: 100%;
    height: auto;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.424), rgba(0, 0, 0, 0.476)),url(/img/coast-of-hawaii.jpg);
    background-position: center;
    background-size: cover;
}
.contact-blog{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.604);
    border: 2px solid white;
    box-shadow: rgb(135, 255, 223,0.4) 5px 5px, rgb(135, 255, 223,0.3) 10px 10px, rgb(135, 255, 223,0.2) 15px 15px, rgb(0, 254, 123,0.1) 20px 20px, rgb(0, 254, 123,0.05) 25px 25px;
}
.contact-content h1{
    color: white;
}
.contact-row{
    --bs-gutter-x: 0;
}
.contact-row iframe{
    box-shadow: rgb(135, 255, 223,0.4) -5px 5px, rgb(135, 255, 223,0.3) -10px 10px, rgb(135, 255, 223,0.2) -15px 15px, rgb(0, 254, 123,0.1) -20px 20px, rgb(0, 254, 123,0.05) -25px 25px;
}
.accordion{
    width: 100%;
    box-shadow: rgba(135, 255, 223,0.4) 0px 5px, rgba(135, 255, 223,0.3) 0px 10px, rgba(135, 255, 223,0.2) 0px 15px, rgba(0, 254, 123,0.1) 0px 20px, rgba(0, 254, 123,0.05) 0px 25px;
}
.accordion-item{
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    border: 2px solid black;
}
.accordion-item button{
    background-color: #b5fff1;
}
/********************************************* CONTACTUS-END *****************************************************/