.city-tour{
    width: 100%;
    min-height: 100vh;
}

.city-tour .city-tour-header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4)url(tour-img/tour-city-hdr-bg.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.city-tour-header h1{
    width: 90%;
    font-size: 4.5rem;
    text-align: center;
    color: #fff;
}

.city-tour-header p{
    font-size: 1.4rem;
    color: #fff;
    width: 80%;
    text-align: center;
}

.city-tour-content{
    width: 100%;
    min-height: 100vh;
    background: #222;
}

.city-tour-content .about-city-tour{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0px 20px 0px;
}

.about-city-tour h3{
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3rem;
    width: 100%;
    text-align: center;
   margin: 50px 0px 50px 0px;
}

.about-city-tour h3::after{
    content: "";
    display: block;
    width: 100%;
    background: linear-gradient(135deg, #00fecf, #00fe72);
    height: 4px;
    margin-top: 30px;
}

.about-city-tour ul li{
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
}

.about-city-tour ul li::selection{
    background: #00fe72;
    color: #222;
}

.city-tour-details{
    width: 100%;
    min-height: 70vh;
    margin-top: 50px;
    padding: 50px 0px 50px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.city-tour-details h4{
    font-size: 3rem;
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 50px;
    width: 100%;
}

.city-tour-details ul{
    width: 90%;
    box-shadow: -8px -8px 5px #00fe72, 8px 8px 5px #00fecf;
    padding: 20px;
}
.city-tour-details ul li{
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.city-tour-details ul li span{
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.1rem;
}

@media(max-width:575px){
    .city-tour-header h1{
        font-size: 3rem;
    }
    .city-tour-header p{
        font-size: 1rem;
    }
    .about-city-tour h3{
        font-size: 2rem;
    }
    .about-city-tour ul li{
        font-size: 1.2rem;
    } 
    .city-tour-details h4{
        font-size: 2rem;
    }
}