.continent-tour{
    width: 100%;
    min-height: 100vh;
}

.continent-tour .continent-tour-header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.4)url(tour-img/continent-hd-bg.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: darken;
}

.continent-tour-header h1{
    width: 90%;
    font-size: 4.5rem;
    text-align: center;
    color: #fff;
}

.continent-tour-header p{
    font-size: 1.4rem;
    color: #fff;
    width: 80%;
    text-align: center;
}

.continent-tour-content{
    width: 100%;
    min-height: 100vh;
    background: #222;
}

.continent-tour-content .about-continent-tour{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0px 20px 0px;
}

.about-continent-tour h3{
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3rem;
    width: 100%;
    text-align: center;
   margin: 50px 0px 50px 0px;
}

.about-continent-tour h3::after{
    content: "";
    display: block;
    width: 100%;
    background: linear-gradient(135deg, #00fecf, #00fe72);
    height: 4px;
    margin-top: 30px;
}

.about-continent-tour ul li{
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
}

.about-continent-tour ul li::selection{
    background: #00fe72;
    color: #222;
}

.seven-continents{
    width: 100%;
    min-height: 100vh;
    padding: 50px 0px 50px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-top: 20px;
}

.seven-continents h3{
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.seven-continents .worlds-continent{
    width: 100%;
    height: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.worlds-continent .worlds-continent-img{
    margin-top: 20px;
    width: 50%;
    height: 50vh;
    margin: 50px auto 50px auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: #00fe72 0px 1px 3px, #00fecf 0px 1px 2px;
}

.img-europe{
    background-image: url(tour-img/cont-bg-euro.jpeg);
}
.img-asia{
    background-image: url(tour-img/cont-asia.jpeg);
}
.img-africa{
    background-image: url(tour-img/cont-africa.webp);
}
.img-sa{
    background-image: url(tour-img/cont-sa.jpeg);
}
.img-na{
    background-image: url(tour-img/cont-na.avif);
}
.img-aust{
    background-image: url(tour-img/cont-aust.jpeg);
}

.worlds-continent h4{
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.worlds-continent ul{
    width: 90%;
    box-shadow: -8px -8px 5px #00fe72, 8px 8px 5px #00fecf;
    padding: 20px;
}
.worlds-continent ul li{
    font-size: 1rem;
    color: #fff;
    margin-top: 20px;
    text-align: center;
}

.worlds-continent ul li span{
    background: linear-gradient(135deg, #00fecf, #00fe72);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 1.1rem;
}

@media(max-width:575px){
    .continent-tour-header h1{
        font-size: 3rem;
    }
    .continent-tour-header p{
        font-size: 1rem;
    }
    .about-continent-tour h3{
        font-size: 2rem;
    }
    .about-continent-tour ul li{
        font-size: 1.2rem;
    } 
    .seven-continents h3{
        font-size: 2.5rem;
    }
    .worlds-continent h4{
        font-size: 2rem;
    }
    .worlds-continent ul li{
        font-size: .8rem;
    }
    .worlds-continent .worlds-continent-img{
        width: 80%;
    }
}