.hdr1 {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.541)), url(img-transport/transport-header.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 56px;
    height: 40vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.bl {
    color: white; 
}
.tb {
    background: linear-gradient(135deg, #f7e927, #068bac);
}
.tle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 3rem;
    width: 700px;
}
.bck {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.555)), url(/img-transport/bck.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    background-attachment: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.blr {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.plane {
    display: flex;
    /* border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255); */
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    z-index: 2;
}
.plane img {
    width: 500px;
    filter: brightness(0.8);
}
.pt {
    width: 800px;
    color: white;
}
.pt h3 {
    border-bottom: 1px solid;
    width: 300px;
    margin-bottom: 1rem;
}
.bck2 {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.555)), url(img-transport/Ocean.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    background-attachment: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.blr2 {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.ship {
    display: flex;
    /* border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255); */
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    z-index: 2;
}
.ship img {
    width: 500px;
    filter: brightness(0.8);
}
.pt2 {
    width: 800px;
    color: white;
    align-items: end;
    display: flex;
    flex-direction: column;
}
.pt2 h3 {
    border-bottom: 1px solid;
    width: 300px;
    margin-bottom: 1rem;
    justify-content: end;
    display: flex;
}
.butn {
    background-color: rgba(255, 255, 255, 0.425);
    border: transparent;
    padding: 6px;
    width: 200px;
    border-radius: 7px;
    color: white;
    text-shadow: 0 0 20px;
    transition: all 300ms;
}
.butn:hover {
    background-color: rgba(255, 255, 255, 0.63);
    scale: 1.05;
    border: transparent;
    padding: 6px;
    width: 200px;
    border-radius: 7px;
    color: white;
    text-shadow: 0 0 20px;
    
}
.butn:active {
    background-color: rgba(255, 255, 255, 0.63);
    scale: 1.03;
    border: transparent;
    padding: 6px;
    width: 200px;
    border-radius: 7px;
    color: white;
    text-shadow: 0 0 20px;
    
}
.bosluk {
    height: 250px;
    background: linear-gradient(135deg, #8fffeb, #29ad64);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.bosluk i {
    align-items: start;
    float: left;
}
.bck3 {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.555)), url(img-transport/yol.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    background-attachment: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.blr3 {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.bus {
    display: flex;
    /* border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255); */
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    z-index: 2;
}
.bus img {
    width: 500px;
    filter: brightness(0.8);
}
.pt3 {
    width: 800px;
    color: white;
    align-items: start;
    display: flex;
    flex-direction: column;
}
.pt3 h3 {
    border-bottom: 1px solid;
    width: 300px;
    margin-bottom: 1rem;
}
.bck4 {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.555)), url(img-transport/rail.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    background-attachment: fixed;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.blr4 {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.train {
    display: flex;
    /* border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255); */
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    z-index: 2;
}
.train img {
    width: 500px;
    filter: brightness(0.8);
}
.pt4 {
    width: 800px;
    color: white;
    align-items: end;
    display: flex;
    flex-direction: column;
}
.pt4 h3 {
    border-bottom: 1px solid;
    width: 300px;
    margin-bottom: 1rem;
    justify-content: end;
    display: flex;
}
.btns{
    display: flex;
    flex-direction: row;
}
.btns .butn {
    margin-left: 1rem;
    margin-right: 1rem;
}
.lbc {
    background-image:  linear-gradient(to top, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.555)), url(img-transport/beach.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center;
    height: 350px;
    display: flex;
    justify-content: center;
    z-index: 1;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.lbr {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.164);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.login {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;    padding: 20px;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.123);
}
.inp {
    display: flex;
    flex-direction: column;
}
.inp input {
    padding: 7px;
    margin-bottom: 0.5rem;
    margin-top: 0.5;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
.inp input::placeholder {
    color: rgba(255, 255, 255, 0.438);
}
.chbx {
    display: flex;
    float: left;
}
.chbx label {
    margin-left: 10px;
}
.butn1 {
    background-color: rgba(12, 12, 12, 0.575);
    border: transparent;
    padding: 6px;
    width: 150px;
    border-radius: 7px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px;
    transition: all 300ms;
}
.butn1:hover {
    background-color: rgba(0, 0, 0, 0.425);
    scale: 1.05;
    border: transparent;
    padding: 6px;
    width: 150px;
    border-radius: 7px;
    color: white;
    text-shadow: 0 0 20px;
    
}
.butn1:active {
    background-color: rgba(68, 68, 68, 0.425);
    scale: 1.03;
    border: transparent;
    padding: 6px;
    width: 150px;
    border-radius: 7px;
    color: white;
    text-shadow: 0 0 20px;
}
.bosluk {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 250px;
    background: url(/img-transport/stars.jpg);
    width: 100%;
    text-shadow: 0 0 30px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}